.button {
  font: inherit;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.15rem;
}

/* .button:hover {
  background-color: red;
} */

.complete {
  background-color: #1e5128;
  color: white;
}

.incomplete {
  background-color: #ef5b0c;
  color: white;
}

.edit {
  background-color: #3b44f6;
  color: white;
}

.delete {
  background-color: #cf0a0a;
  color: white;
}
