form {
  margin: rem;
  padding: 2rem 2rem;
}

.input-field {
  position: relative;
  width: auto;
  height: 44px;
  line-height: 44px;
}

label {
  position: absolute;
  top: 16px;
  left: 2px;
  font: inherit;
  width: 100%;
  color: #557bb687;
  transition: 0.2s all;
  cursor: text;
}
input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #76d862;
  box-shadow: none;
  color: #111;
  font-size: 32px;
  background: #d8e9a8;
}
input:invalid {
  outline: 0;
}
input:focus,
input:valid {
  border-color: #1e5128;
}
input:focus ~ label,
input:valid ~ label {
  font-size: 14px;
  top: -40px;
  color: #1e5128;
  font-weight: bold;
  content: 'ay';
}
