.li-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.li-item span {
  max-width: 30rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-grp {
  display: flex;
  flex-direction: row;
  width: 250px;
  justify-content: space-between;
}
